<div>
  <link href="./menu1.css" rel="stylesheet" />
  <div class="menu1-container">
    <div class="menu1-features">
      <h1 class="menu1-text">Exames</h1>
      <div class="menu1-container1">
        <div class="feature-card1-feature-card feature-card1-root-class-name">
          <h2 class="feature-card1-heading"><span>Tumor do Pulmão</span></h2>
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1616012480717-fd9867059ca0?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDF8fHJhZGlvZ3JhZmlhfGVufDB8fHx8MTY5MDIyMDQ0NHww&ixlib=rb-4.0.3&w=200"
            class="feature-card1-image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
