.tutorial-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tutorial-container1 {
  width: 100%;
  height: 425px;
  display: flex;
  align-items: center;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 2px;
  justify-content: flex-start;
}
.tutorial-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.tutorial-image {
  width: 475px;
  height: 350px;
  align-self: center;
  object-fit: cover;
}
.tutorial-container2 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.tutorial-text {
  font-size: 3rem;
}
.tutorial-text01 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.tutorial-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.tutorial-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.tutorial-button:hover {
  transform: scale(1.02);
}
.tutorial-button1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.tutorial-button1:hover {
  transform: scale(1.02);
}
.tutorial-text02 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}

@media(max-width: 991px) {
  .tutorial-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .tutorial-image {
    order: 2;
  }
  .tutorial-container2 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .tutorial-text {
    text-align: center;
  }
  .tutorial-text01 {
    text-align: center;
  }
  .tutorial-text02 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .tutorial-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .tutorial-image {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .tutorial-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .tutorial-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .tutorial-btn-group {
    flex-direction: column;
  }
  .tutorial-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .tutorial-text02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
